<div class="row">
<form class="login-form">
    <div class="mb-3">
      <label for="user-login" class="form-label">User Name</label>
      <input type="text" class="form-control" id="user-login" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="password-login" class="form-label">Password</label>
      <input type="password" class="form-control" id="password-login">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
				<div class="mt-4">
					<div class="d-flex justify-content-center links">
						Don't have an account? <a href="/signup" class="ml-2">Sign Up</a>
					</div>
					{{!-- <div class="d-flex justify-content-center links"> --}}
						{{!-- <a href="#">Forgot your password?</a> --}}
					{{!-- </div> --}}
				</div>
			</div>
		</div>
	</div>
  </div>

 <script src="./js/login.js"></script>
